body{
    background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ8NDQ0NFREWFhURFRUYHSggGBolGxMVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDg0NFRAPFSsZFRkrKysrKy0rKystKysrNy03LSstKysrKys3LTctLS0rNys3Kys3Ky0tKzc3KysrNy0tK//AABEIANkA6AMBIgACEQEDEQH/xAAaAAADAQEBAQAAAAAAAAAAAAAAAwQCAQUG/8QAJRABAQEBAQEAAgIBBAMAAAAAAAIBAxESIVETMXEEYYGxQZHR/8QAGAEBAQEBAQAAAAAAAAAAAAAAAAIBAwT/xAAbEQEBAQEAAwEAAAAAAAAAAAAAARECEiFBMf/aAAwDAQACEQMRAD8A+v8Anz8G8ufu/wDbdR9b+P7OmPnPHpvTySEdp/P/AA1HrV5+Wok+H0yNOjPWIlVxnzN1FVGZgyYO5Rnn9Ydko10nKfOW/prOOqcl35ZqvFN/C7/Fij5c2TTE/wDHn6c2T9lnZAjZYv8AGbv6UbKf/UZ7+P1/aoyvOqd3d3f70u+S7ebm83XXLHnbzZ3m9C+PpO8261FvJjeK7ebGw3WId47/AJKqHqcuX59/X/ZX+o5fn39/9t32a83Y1jZ1ZXMqpUJtjWdnVG4xuNYT86DPA019Hx55n/0yqzP7/wDRNddz8Znn++/2Xn5eXx39Ves9Ru8zf6zxqZE4bGNR+tRKiZ/GYxEqOcpq4Zyw/JZiTsxFdYzku/JmS78sUV8ufJ3y58gTss7Kj5Z2RmJqzxPsL6jNY3lipWWIdhz+NbvFzeLdTiLebF8fVu8nN5/7N1mPN3mXXN6V8is5fn/CtMTZz8zwrrz9zxdUFVBKmx5VQTfN6Pbn/wCf2muHSVLz7jwvcX3Ke+P6XKzU+SDNwNTXvbOb/bG8tz+vzhuGTjyyu1mkRh0SZnPP8NRzbqcxvnKjnLMQo5ym1fMamTZxycMzEOkc8d8a8dYpnxzxsAX4PG/B4ML3GfDfHPGhXjnyb4PkYTsufB/y54aYR8F9IVfLFy3WWIqgq4W1BVSrU2PP6QkuHq3BN/6fP7XOkWPKrmXUvSvlP6JqM/WKnTnY8zpz9/yF1YFeacVYZOlcvzh8S4u3syMURJcSoiU1UjUSfGMzJs4yrkdzG8xzMaSsOgAAADgdAOeDx0Az4PGnAc8c8aAMeM1hvjO4MJqSqlTuF1KomxN8MdZ/CnZKvDWY8+8T3izrKXpjpHLpNWBrc/IVqDeH6VxiXkt54iuvJsYojCow+MQ6QycNzGJwzGKjrowMaAAAAAAAAAAAAAAAAHNdAMbjNGMUMKom8Ooq1MqTtiPpi/piHri+XLpP/wCQ7+wpzN5Yt5JOWLOSK6cqIw+MJjToTXSGy3jEt4lboAAAAAAAAAAAAAAAAAAAAHNc1pnQJsmz7ItURSLRd8V9Evb84qOfSbf6Dtf04tzUcsUwnhRzQ6RTzUQRzUQmukMxvGZaSsAAAAAAAAAAAAAAAAAAAAADOtaxoF2RZ9p+ioip+iPvfn+VXavHndt9XzHPqs5fuf74CKrz8uLxy16XNVzS8lfJFdYp5nwTzPhFdIZjTONJWAAAAAAAAAAAAAAAAAAAAADWNa0umsYpP1026S9qbIm1L21H1UdqRdqdZHDorpoTdun6DpiMe1w1bzQcVvLXGuvKzmfKfnp86iusNxpiW0rAAAAAAAAAAAAAAAAAAAAAHNKszSrbGUjpqTrqnpqLvS4ipe9vO7V6r7ah6668uVT9A50Doh73JZyRclfPXnq+VcaojUvPVEIrrD5bwudbxK40ABoAAAAAAAAAAAAAAAAGuOboOUTemVpN62JpHXUHbVfXUXbXSIqLtqLrSrtqLrrpHOk3rpd6HRGPoOeqeWoJtTztwquXoc9URSHnSmKRXWK50zNTzRmUlcOzXfS8p31jTAz6PRrQc9HoOhz0eg6GfR6DQY9HoNbo9Z9c9aNes7o3WNoY5ekdKMrU/XWxlJ66h7ap60i7UuIqXtqLrqrrqPprrHOkUHLCkvU50r5UgjVPOnKtj0edKedPP52pi01cq6aNmkcWZNpXKrymspNNN5TG6oynfSMprLY3TvR6VlO/Q3TPR6X9OfQzTPXPWPpzaDTPpz0r6H0Gm7rn0VtufbTTdpnaL22dsZrV0n607dkdKbE2k9aRdqP60k60uJtTddS9KUddS2uJpdAUG6ldGnxSWNOnUplWRR8WiijZtK5V8WbNoYs2eicVq6bby0U9DM6MxWq8tr7SZbWWY3VX27lpf5B/IzDVf059J56/sbYaf9ufafbc2zDT9ofaf+QfbWafts/ZG2z9hqnbY2yN6M10bhplWRds1ZN21lrPWkvSm+tJ71UTaXek2ZWlVrUaVTrlBoqkyaeJjeMTj3JoyaeFjeMU9+bMm3z8mYxr38szLfPY3jFPoMtrLfP43jGve+3ft4IB732M67/w8FzQe/vRn+R4Lgx73259vBAPe+x9vB0A93aZ3Xh6zoParSb15OsU1j0rIvXn2TStS9GiqebrGt0x6W468oA//9k=');
    background-size: auto 100vh;
    font-family:arial;
  }
  
  a{
    text-decoration:none;
    color:teal;
  }
  a:hover { 
    text-decoration:underline;
  }
  .menu{
    background-color:black
  }
  .menu li {
    list-style:none;
  }
  .menu ul{
    display:flex;
    justify-content:space-around;
  }
  
  .site-title{
    text-align:center;
    font-size:xxx-large;
  }
  .site-subtitle{
    text-align:center
  }
